body {
	background: #ccc;
}
.top-block {
	display: flex;
	justify-content: flex-end;
	background: #000;
	position: fixed;
	margin-bottom: 150px;
	z-index: 100;
	opacity: 0.9;
}
.nav-link {
	display: flex;
	justify-content: center;
	background: #fff;
	margin: 10px;
	color: #000;
	border: 2px solid #000;
	border-radius: 10px !important; 
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
	margin: 10px;
	color: #fff;
	border: 2px solid #000;
	background: #28a745 !important;
	text-decoration: none; 
}
/*.nav-link:hover,*/
body .dropdown-item:hover {
	color: #909090;
}
.navbar-search {
	display: flex;
	justify-content: flex-end;
}
.btn {
	background: #fff;
}
body .nav-pills .nav-link.active {
	background-color: #28a745;
}
.footer { 
	position: relative;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #000;
    color: #fff;
    width: 100%;

    display: flex;
	justify-content: center;
}
.content {
	padding: 50px;
	padding-top: 100px;
	margin-bottom: 150px;
	min-height: 700px;
}
.contact a:hover {
	text-decoration: none;
	color: #2aff5b;
}
.contact a {
	color: #28a745;
}
body .card {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	/*display: inline-block;*/
	background: #c9f8bb;
	border: 1px solid #000;
	width: 250px;
	margin-top: 25px;
}
body .card:hover {
	/*box-shadow: 2px 2px 4px;*/
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
body h2 {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
body .btn-primary,
body .btn-primary:focus {
	background-color: #28a745;
	border-color: #28a745;
}
body .btn-primary:hover,
body .btn-primary:active {
	box-shadow: 1px 1px 2px;
	border: 1px solid #28a745;
	background-color: #fff;
	color: #28a745;
}